.top-menu{
  width: 100%;
  height: auto;
  padding: 10px 40px;
  background-color: #fff;
}

.top-menu i{
  color: #000;
}

.top-menu nav{  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.top-menu .main-user{
  display: flex;
  gap: 20px;
}

.top-menu nav ul{
  list-style: none;
}

.top-menu .search{
  width: 35%;  
}

.top-menu .search form {
  align-items: center;
  width: 100%;
  background-color: rgba(161, 161, 157, 0.815);
  padding: 10px 19px 10px 10px;
  border-radius: 7px;
  justify-content: space-between;    
}

.top-menu .search-item{
  display: flex;
  gap: 10px;
}

.top-menu .search-btn{
  background: none;
  border: none;
  font-size: 1.1rem;
}  

.top-menu .search input[type="search"] {
  flex: 1;
  width: 100%;
  border: none;
  outline: none;
  padding: 0px;
  font-size: 1rem;
  background: transparent;
}


.top-menu .search input[type="search"]::placeholder {
  color: #000000
}




.menu-user .icon-perfil {  
  padding: 15px 0px; 
}

.menu-user .icon-perfil a{
  background-color: blue;
  padding: 10px 12px;
  border-radius: 50%;
}

.menu-user .icon-perfil i{
  font-size: 20px;  
}

.menu-user .main-user a{
  text-decoration: none;
  color: #111;
}

.top-menu .icons ul{
  display: flex;
  flex-direction: row;
  gap: 22px;
}

.top-menu .icons ul i{
  font-size: 23px;
}


.main-menu {
  width: 100%;
  height: auto;
  padding: 10px 40px;
  border-top: 1px solid #aca3a3;
  background-color: #fff;
}

.main-menu ul{
  display: flex;
  list-style: none;
  gap: 28px;
  justify-content: center;
}

.main-menu .nav-item{
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 1.08rem;
  padding-bottom: 9px;
}

.main-menu .nav-item:hover{
  color: #1d1c1ce3;
  transition: color 0.3s;
  border-bottom: 2px solid #000000;
}

.main-menu .nav-item.active{  
  border-bottom: 2px solid #000000;
}


.btn-mob {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

@media (max-width: 640px) {

  .main-menu .nav-items,
  .main-menu .buttons {
    display: none;
  }

  .main-menu li {
    margin-bottom: 15px;
  }

  .main-menu a {
    padding: 0px 2px 3px 2px;
  }

  .main-menu .nav-items.open {
    display: block;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    max-height: 0;
  }

  .btn-mob {
    display: block;
  }

  .main-menu .logo {
    margin-left: 10%;
  }
}