.footer-container {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  background-color: #222;
  color: #fff;
}

.footer-container .footer-hero {
  padding: 30px 50px;
}

.footer-container .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333;
  margin-bottom: 32px;
  padding-bottom: 32px;
}


.footer-container .footer-top h2{
  font-size: 2rem;
  font-weight: 500;
}

.footer-container .footer-top button{
  background-color: #444;
  border: none;
  cursor: pointer;
  padding: 9px 13px;
  font-size: 0.96rem;
  color: #e6e6e6;
  border-radius: 25px;
}

.footer-container .footer-top button:hover{
  scale: 1.1;
  transition: 0.4s;
}

.footer-container .footer-content {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 20px;
}

.footer-container .footer-content .footer-section h2{
  font-weight: 500;
  font-size: 1.7rem;
  text-transform: uppercase;
}

.footer-container .footer-content .footer-section p{
  max-width: 320px;
  text-align: justify;
  font-size: 0.9rem;
}

.footer-container .footer-content .footer-section .social-icons ul {
  display: flex;
  flex-direction: row;
}

.footer-container .footer-content .footer-section .navegacao a:hover {
  text-decoration: underline;
  transition: 0.4s;
}

.footer-container .footer-content .footer-section .social-icons ul i {
  width: 45px;
  height: 45px;
  background-color: #333;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 30px;
  transition: 0.4s;
}

.footer-container .footer-content .footer-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-container .footer-content .footer-section h3 {
  font-weight: 500;
  font-size: 1.2rem;
}

.footer-container .footer-content .footer-section .footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-container .footer-content .footer-section .footer-form input {
  padding: 7px 14px;
  border-radius: 25px;
  background-color: #eeececf6;
  box-shadow: 0px 0px 0px 5px #222;
  z-index: 100;
  outline: none;
  border: none;
  font-size: 1rem;
}

.footer-container
  .footer-content
  .footer-section
  .footer-form
  input::placeholder {
  color: #222;
}

.footer-container .footer-content .footer-section .footer-form button {
  background-color: #444;
  border: none;
  cursor: pointer;
  padding: 7px 20px;
  padding-left: 40px;
  border-radius: 0 25px 25px 0;
  color: #f5f5f5;
  font-size: 1rem;
  margin-left: -22px;
  font-weight: 600;
}

.footer-container .footer-content ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-container .footer-aside {
  background-color: #555;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  color: #b3b3b3;
}

.footer-container .footer-aside div {
  display: flex;
  gap: 20px;
}

.fa-instagram:hover {
  background: linear-gradient(
    135deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* Para navegadores que suportam */
  color: transparent;
  scale: 1.2;
}

.fa-facebook:hover,
.fa-twitter:hover {
  color: rgba(50, 104, 221, 0.918);
  scale: 1.2;
}

.fa-youtube:hover {
  color: rgba(235, 36, 36, 0.918);
  scale: 1.2;
}
