@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


:root {


 /* colors: {
        primary: '#0A0D40',
        secondary: '#2C3359',
        accent: '#4F5873',
        light: '#B4B7BF',
        background: '#010326',
        white: '#FFFFFF',
        black: '#000000',
 } */
}

body{
    background-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

html {
  scroll-behavior: smooth;
}

