
button{
    background-color: #222222; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

#modal{
    background-color: grey;
    border: none;
    padding: 10px;
    width:200px;
    height: 250px;
}

li{
    list-style: none;
    color: white;
    padding: 5px;
}
li:hover{
    scale: 1.1;
    color: rgb(128, 0, 0);
}