.prod-detalhe-container {  
  width: 100%;
  max-width: 2000px;  
  margin: 0 auto;  
  padding: 20px 10px 20px 20px;
}

.produto-detalhe-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
}

.imagens-container {
  flex: 3;
  max-width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  height: auto;
  padding-top: 10px;
}

.imagem-produto {
  width: 100%;
  height: 390px; 
  object-fit: cover;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.imagem-produto:hover {
}

.info-produto {
  flex: 1;
  color: #000000ce;
  padding: 10px;
  height: auto;
}

.name-prod {
  font-size: 1.9rem;
  text-shadow: 3px 3px 4px #00000021;
  line-height: 1.6rem;
  font-weight: 700;
}

.tipo-prod {
  font-size: 1.3rem;  
  text-shadow: 3px 3px 4px #00000021;
  text-transform: lowercase;
  font-weight: 500;
  margin-bottom: 7px;
}

.descricao {
  font-size: 1.1rem;
  color: #000000cb;
  margin-bottom: 7px;
}

.detalhes-produto {
  font-size: 1.1rem;
}

.avaliacao {
  font-size: 1.2rem;
  margin-bottom: 7px;
  color: #f5d20b;
}

.preco {
  font-size: 1.2rem;
  color: #0c880c;
  margin-bottom: 7px;
}

.filtro-tamanhos {
  margin: 20px 0px;
}

.filtro-tamanhos button {
  margin-top: 10px;
  font-size: 1.06rem;
  border: 2px solid #222;
  color: #000000;
  font-weight: 500;
  border-radius: 10px;
  width: 60px;
  cursor: pointer;
}

.filtro-tamanhos button.selecionado, .filtro-tamanhos button:hover {
  background-color: #111;
  border:2px solid #111;
  color: #fff;
}


.acoes .btn {
  width: 100%;
  border: none;
  color: #fff ;
  background-color: #111;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;  
  font-size: 0.95rem;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 500;
  box-shadow: 6px 6px 14px #00000021;
}

.acoes .btn:hover {
  background-color: #222;
}

.links p {
  font-weight: 600;
  font-size: 1rem;
}

.links i {
  margin-left: 6px;
  color: #25d366;
}
