.carrinho-container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.carrinho-container .lista-carrinho {
  flex: 3;
  padding: 0px 20px;
  overflow-x: auto;
  padding: 40px;
}

.carrinho-container .top-carrinho {
  display: flex;
  text-align: center;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.carrinho-container .top-carrinho h1 {
  margin-bottom: 20px;
  color: #000;
}

.carrinho-container .top-carrinho .label-top-carr {
  width: 20px;
  height: 4px;
  background-color: #000;
  border-radius: 25px;
  margin-top: -20px;
}

.carrinho-container .tabela-carrinho {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

.carrinho-container .tabela-carrinho thead {
  margin-bottom: 20px;
}

.carrinho-container .tabela-carrinho thead th {
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.carrinho-container thead .cabecalho-table th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #111;
}

.carrinho-container thead .cabecalho-table th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #111;
}

.carrinho-container thead .cabecalho-table th {
  padding: 12px;
  background-color: #111;
}

.tabela-carrinho th,
.tabela-carrinho td {
  padding: 12px 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  vertical-align: middle;
}

.carrinho-container .img-item {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
}

.carrinho-container .tabela-carrinho td.nomes-prods {
  text-align: left !important;
}

/* Define largura para cada coluna da tabela */
.carrinho-container .tabela-carrinho th:nth-child(1),
.carrinho-container .tabela-carrinho td:nth-child(1) {
  width: 30px;
  /* Checkbox */
}

.tabela-carrinho th:nth-child(2),
.tabela-carrinho td:nth-child(2) {
  width: 190px;
  /* Imagem */
}

.tabela-carrinho th:nth-child(3),
.tabela-carrinho td:nth-child(3) {
  width: 260px;
  /* Produto (nome, tipo, categoria) */
}

.tabela-carrinho th:nth-child(4),
.tabela-carrinho td:nth-child(4) {
  width: 90px;
  /* Tamanho */
}

.tabela-carrinho th:nth-child(5),
.tabela-carrinho td:nth-child(5) {
  width: 160px;
  /* Preço */
}

.tabela-carrinho th:nth-child(6),
.tabela-carrinho td:nth-child(6) {
  width: 100px;
  /* Qtd */
}

.tabela-carrinho th:nth-child(7),
.tabela-carrinho td:nth-child(7) {
  width: 120px;
  /* Subtotal */
}

.tabela-carrinho th:nth-child(8),
.tabela-carrinho td:nth-child(8) {
  width: 100px;
  /* Botão remover */
}
.carrinho-container .check-btn {
  width: 20px;
  height: 18px;
  accent-color: #111;
  cursor: pointer;
  opacity: 0.5;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.carrinho-container .check-btn:checked {
  opacity: 1;
}

.carrinho-container .nomes-prods .nome {
  font-size: 1.02rem;
  color: #111;
  font-weight: 600;
  margin-bottom: 5px;
}

.carrinho-container .nomes-prods .tipo {
  color: #333;
  font-weight: 500;
}

.carrinho-container .tamanho {
  font-weight: 500;
  font-size: 1.12rem;
}

.carrinho-container ._preco {
  font-size: 1.06rem;
  font-weight: 500;
}

.carrinho-container .botoes-qtd {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #4444448f;
  border-radius: 25px;
}

.botoes-qtd button {
  width: 30px;
  height: 30px;
  font-weight: 500;
  font-size: 1.1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.numeros-span {
  border-left: 2px solid #4444448f;
  border-right: 2px solid #4444448f;
  padding: 0px 12px;
  height: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.botoes-qtd button:disabled {
  color: #8f8a8a;
}

.botoes-qtd button > .ind {
  font-size: 1.2rem;
}

.botoes-qtd span {
  min-width: 24px;
  text-align: center;
}

.tabela-carrinho button {
  cursor: pointer;
}

.carrinho-container .conteiner-resumo {
  background-color: #111;
  color: #fff;
  padding: 40px;
}

.carrinho-container .resumo {
  position: sticky;
  top: 20px;
  flex: 1;
  width: 320px;
  align-self: start;
}

.carrinho-container .resumo h1 {
  font-size: 30px;
  margin-bottom: 20px;
  color: inherit;
}

.carrinho-container .items-count-carrinho {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.carrinho-container .frete h2,
.carrinho-container .cupon h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
}

.carrinho-container .cupom-form {
  display: flex;  
  justify-content: center;
  text-align: center;
  align-items: center;
}

.carrinho-container .frete select,
.carrinho-container .cupon input  {
  margin: 10px 0px;
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ffffff;
  border-radius: 25px;
  background-color: #ffffffea;
  font-size: 14px;
  color: #111;
  font-weight: 600;
  outline: none;
}

.carrinho-container .cupon input {
  z-index: 1000;
  box-shadow: 0 0 0 5px #111;
}

.carrinho-container .cupon input::placeholder {
  color: #111;
}

.carrinho-container .cupom-form .aplicar-cupom-btn {
  padding: 8px 12px;
  border: 1px solid #ffffff;
  border-radius: 0 25px 25px 0;
  background-color: #ffffffea;
  font-size: 14px;
  color: #111;
  font-weight: 600;
  outline: none;
  margin-left: -10px;
  padding-left: 20px;
}

.carrinho-container .total h3 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 15px 0px;
}

.carrinho-container .total h3 > span {
  margin-left: 5px;
}

.carrinho-container .botao-comprar {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s ease;
  margin: 10px 0px;
  box-shadow:0 0 0 4px #111, 0 0 0 5px #ffff;
}

.carrinho-container .botao-comprar:hover {
  background-color: #464545;
}

.carrinho-container .remove-btn {
  background: none;
  border: none;
  font-size: 1.1rem;
  color: #222;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  transition: 0.3s;
}

.carrinho-container .remove-btn:hover{
  color: rgb(211, 47, 47);
  background-color: rgba(211, 47, 47, 0.26);
}

/* Carrinho vazio */
.carrinho-null {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding: 40px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.carrinho-null .title-null {
  font-size: 3rem;
  text-transform: uppercase;
  color: #222;
}

.carrinho-null .text-null {
  font-size: 1.5rem;
  color: #222;
}

.carrinho-null span > i {
  font-size: 10rem;
  margin: 30px;
  color: #222;
}

.carrinho-null button {
  padding: 6px 12px;
  border: 2px solid #333;
  background: none;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.carrinho-container .desmarcar{
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: end;
  padding: 20px 0;
}

.carrinho-container .desmarcar button{
  background: none;
  border: none;
  color: #fff;
  font-size: 1.0rem;
  text-decoration: underline;
  cursor: pointer;
}

.erro-carrinho{
  color: rgb(197, 35, 35);
  margin-bottom: 10px;
}

.tamanho-coluna {
  display: flex;  
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.tamanho-coluna button{
  margin-bottom: 5px;
  background-color: transparent;
  color: #111;
  font-weight: 600;
  font-size: 0.95rem;
  border: none;
  cursor: pointer;
}

.modal-overlay .tamanho-title{
  color: #000;
  font-weight: 500;
  margin-bottom: 10px;
}

.modal-overlay .btn-tamanho-alteracao{
  background-color: transparent;
  border: 2px solid #111;
  width: 50px;
  height: 45px;
  border-radius: 10px;
  font-weight: 600;  
}

.modal-overlay .btn-tamanho-alteracao:hover{
  background-color: #111;
  transition: 0.4s;
  color: #fff;
}

.modal-overlay .cancelar-btn{
  background: none;
  border: none;
  font-size: 1.1rem;
  color: rgb(211, 47, 47);
  border-radius: 25px;
}

.modal-overlay .cancelar-btn:hover{
  transition: 0.4s;
  background-color: rgba(211, 47, 47, 0.26);
}


/* Responsivo */
@media (max-width: 768px) {
  .tabela-carrinho {
    font-size: 14px;
  }

  .img-item {
    width: 70px;
    height: 70px;
  }

  .botao-comprar {
    font-size: 14px;
  }
}
