.carrinho-container{
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}
.lista-carrinho{
    flex: 3;
    padding: 20px;
}

.item-carrinho {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 20px 0px;
    padding-bottom: 20px;
    border-bottom: 2px solid #AAAA;
}

.item-carrinho .img-item{
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
}

.atributos-carrinho{
    display: flex;
    flex: 1;
    gap: 30px;
}

.atributos-carrinho input[type="number"]{
    text-align: center;
    align-items: center;
    width: 50px;
}

.items-atributos{
    flex: 1;
    width: 100%;
    text-align: center;
}

.resumo{
    flex: 1;    
    padding: 20px;
}

.carrinho-null{
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
    padding: 40px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.carrinho-null .title-null{
    font-size: 3rem;
    text-transform: uppercase;
    color: #222;
}

.carrinho-null .text-null{
    font-size: 1.5rem;
    color: #222;
}

.carrinho-null span > i{
    font-size: 10rem;
    margin: 30px;
    color: #222;
}

.carrinho-null button{
    padding: 6px 12px;
    border: 2px solid #333;
    background: none;
    border-radius: 5px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}


.cabecalho-carrinho {
  display: flex;
  font-weight: bold;
  padding: 10px 20px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 10px;
  text-align: left;
  font-size: 16px;
}

.col-checkbox {
  flex: 0 0 30px;
}

.col-produto {
  flex: 2;
}

.col-tamanho,
.col-preco,
.col-quantidade,
.col-subtotal,
.col-acoes {
  flex: 1;
}
