 .carousel-wrapper {
  position: relative;
  width: 100%;
  max-width: 1700px;
  overflow: hidden;  
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(231, 230, 230, 0.863);
}

.carousel-wrapper .carousel-container {
  display: flex;
  gap: 50px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.carousel-wrapper .carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel-wrapper .carousel-slide {
  flex: 0 0 100%;
  height: 490px;
  scroll-snap-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.63);
  transition: transform 0.3s ease;
  background-color: #000;
}

.carousel-wrapper .carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.carousel-wrapper .carousel-text {
  position: absolute;
  top: 0;
  left: 120px;
  height: 100%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  text-align: start;
  align-items: start;
  color: white;
  gap: 14px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.carousel-wrapper .carousel-text .element-title {
  font-size: 2.9rem;
  line-height: 2rem;
}

.carousel-wrapper .carousel-text .element-text {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
}

.carousel-wrapper .carousel-text .element-btn {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(240deg, rgb(221, 110, 7), rgb(190, 83, 21));
  color: #ffff;
  cursor: pointer;
  box-shadow: 5px 4px 13px #1b1b1aa8;
}


.carousel-wrapper .carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  background: rgb(245, 243, 243);
  color: rgba(0, 0, 0, 0.733);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  z-index: 10;
  padding: 7px 17px;
}

.carousel-wrapper .carousel-button.left {
  left: 20px;
}

.carousel-wrapper .carousel-button.right {
  right: 20px;
}



@media (max-width: 768px) {
  .carousel-wrapper .carousel-slide {
    flex: 0 0 100%;
  }

  .carousel-wrapper .carousel-text h2 {
    font-size: 1.5rem;
  }

  .carousel-wrapper .carousel-text p {
    font-size: 1rem;
  }
}