.colecao-container {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding: 20px 30px;
}

.flex-conteiner {
  display: flex;
  padding: 20px 0;
}

/* Sidebar igual à Masculino */
.sidebar {
  top: 0;
  align-self: flex-start;
  width: 390px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

.content {
  width: 100%;
}

.content .masc-produtos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 25px;
  gap: 50px;
  justify-content: center;
}

.card-prods {
  width: 270px;
  text-align: start;
}

.card-prods img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  display: block;
  border: 1px solid #aaaaaa48;
  border-radius: 5px 5px 0 0;
}

.card-prods .text-card {
  padding: 10px 15px;
  flex-grow: 1;
}

.card-prods .nome {
  font-size: 1.08rem;
  margin: 5px 0;
  font-weight: 600;
}

.card-prods .categoria {
  color: #666;
  font-size: 1rem;
  margin-bottom: 10px;
}